{{ define "title" }}An example layout{{ end }}

{{ define "content" }}
<useBean id="mybean2" scope="session" class="WebInput.Input"/>
<h2><getProperty name="mybean2" property="help" /></h2>
<center><form name="loginForm" method="post" action="/search">
    ENTRY: <input type="text" name="name"> <br/>
    <input type="submit" name="Search" value="Search" /></center>
<br>
</form>

<form action="/AltSubmit" method="post">
    <center><input type="submit" name="List" value="List all JSON results" />
        <input type="submit" name="ShowProg" value="Show current progress" />
        <input type="submit" name="ShowCode" value="Show code in raw format" />
    </center>
</form>

<center>
    <br>
    <div id="asd">
        <form action="InputHandler" method="post">
            Enter gamer name <input type="text" name="JSON Link" />
            Enter a description of the gamer <input type="text" name="Name" />
            <br>
            Enter the rank type <input type="text" name="Section" />
            Enter rank points <input type="number" name="Amount" min="0" step="1"/>
            <br>
            <input type="submit" name="AddIt" value="Submit request" />

        </form>
        <br>
        <button onclick="asd(1)">Close without submitting</button>
    </div>

    <button onclick="asd(2)">Special request</button>

    <script type="text/javascript">
        function asd(a)
        {
            if(a===1)
                document.getElementById("asd").style.display="none";
            else
                document.getElementById("asd").style.display="block";
        }
        window.onload = asd(1);
    </script>
</center>

{{ end }}